.heading {
    font-size: 25px;
    width: 95%;
    border-radius: 15px;
    text-align: center;
    margin-top: 5px;
    background-image: linear-gradient(to right, rgb(255, 255, 255) , rgb(104, 216, 226));
    color: blue;
    font-style: italic;
    text-decoration: underline wavy rgb(97, 27, 38);
}

.bts {
    width: 35%;
    height: 50px;
    font-size: 21px;
    border-radius: 15px;
    background-image: linear-gradient(to right, rgb(209, 133, 253) , rgb(255, 255, 255));
}

.subHeading {
    font-size: 30px;
    text-align: center;
    color: rgb(110, 110, 252);
    font-style: italic;
    background-color: yellow;
    border-radius: 7px;
    width: 95%;
}

#status {
    font-size: 18px;
    border-radius: 7px;
}

.back {
    background-color: black;
    color: white;
    margin: 5px;
    font-size: 15px;
}

canvas {
    border: solid grey 5px;
    border-radius: 25px;
    box-shadow: 5px 5px 5px rgb(241, 178, 61);
}

.objects {
    position: fixed;
    color: ghostwhite;
    bottom: 0;
    line-height: 2;
    text-align: center;
}